<!-- <h1>hello</h1>
<h2>Name :-{{name.toUpperCase()}} status :-{{status}}</h2>

<button [disabled] = "isBtnDisabled">Click Me</button> -->
<!-- @if (type==2) {
  <h1 class="bg-red-300">Ramesh</h1>
}@else {
  <h1 class="bg-cyan-200">suresh</h1>
} -->

<!-- @switch (type) {
  @case (1){
    <h1>one</h1>
  }
  @case (2){
    <h1>two</h1>
  }
  @case (3){
    <h1>three</h1>
  }
  @default {
    <h1>This is not Number</h1>
  }
} -->

<!-- @for (item of items; track $index) {
  <h1>Ramesh{{items}}</h1>
}
@empty {
  <h1>This is empty</h1>
} -->